/*

*	AquaVitae Spokane — CSS
* 	Designed by Stephen Hoerner
*
*	1) Misc.
* 	3) Map
* 	4) Sidebar

*/


/* === Misc. === */
body, html {
	font-family: 'Open Sans';
	margin: 0;
}

h3 {
	text-align: left;
	font-size: 18px;
	margin-left: 20px;
	margin-bottom: 0;
}
h2 {
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	color: black;

	margin: 22px auto;
	padding: 0 20px;
}


/* === Map === */
#mappy {
	float: left;
	height: 100%;
	width: 100%;
	margin-left: -200px;
	position: relative;

	z-index: 70;
	background: white;
}


/* === Sidebar === */
#side-bar {
	text-align: center;
	float: left;
	height: 100%;
	width: 200px;
	position: relative;

	z-index: 80;
	opacity: 0.9;
	background: #f4f4f4;

	-moz-box-shadow:	5px 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow:	5px 0 10px rgba(0,0,0,0.2);
	box-shadow:			5px 0 10px rgba(0,0,0,0.2);
}

#side-bar > label {
	margin: 15px auto;
	font-size: 12px;
}

#license-heat, #crime-heat {
	margin: 20px 0;
}

.slider-label {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	display: block;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}

.slider-label > .slider {
	margin-bottom: 6px;
}

.slider {
	margin: 0 30px;
}